.btn {
    font-size: 16px;
    font-weight: bold;
    padding: 18px 41px;
    text-transform: uppercase;
    border-radius: 100px;
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    border: none;

    &--theme--red {
        background: $red;
        color: #fff;

        &:hover {
            color: #fff;
            background: $darkred;
        }
    }

    &--theme--transparent {
        background: transparent;
        color: #fff;
        text-transform: none;
        padding: 0 10px;

        &:hover {
            color: $red;
        }
    }
}