.headline {
    text-align: center;
}

.headline__title {
    margin-bottom: 9px;
}

.headline__subtitle {
    font-size: 16px;
    padding: 0 18%;
    margin-bottom: 48px;
    color: #666666;
}