.about {
    max-width: 100%;
    width: 1274px;
    display: flex;
    flex-direction: column;
}

.about:before {
    content: "";
    display: block;
    border-radius: 5px;
    width: 489px;
    height: 505px;
    background: url(../../img/ivent_aboutpng.png) center center / cover no-repeat;
}

.about__desc {
    border-radius: 5px;
    background: linear-gradient(71.43deg, #8F00FF 0%, #148CFF 100%), linear-gradient(0deg, #212121, #212121);
    padding: 62px 81px;
    max-width: 785px;
    vertical-align: top;
    margin-left: 353px;
    margin-top: -417px;
}

.about__title {
    font-family: Open Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 49px;
    margin-top: 10px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 37px;
}

.about__desc p {
    margin-bottom: 20px;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: left;
}

.about__desc p:last-child {
    margin-bottom: 0px;
}

.about__btn {
    margin-top: 75px;
}