.contacts {
    font-style: normal;
    text-align: right;
}

.contacts__desc {
    color: #9A9A9A;
    font-size: 11px;
    line-height: 1;
    margin-bottom: 8px;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    font-weight: 400;
}

.contacts__number {
    font-family: Open Sans;
    font-style: normal;
}

.contacts__workhours {
    font-size: 13px;
    text-decoration: underline;
    line-height: 20px;
    top: 30px;
    right: 2px;
    font-style: normal;
    text-align: right;
}


.adress {
    font-style: normal;
}