.contacts {
    font-style: normal;
    text-align: right;
}

.contacts__desc {
    color: #9A9A9A;
    font-size: 11px;
    right: 0;
    font-style: normal;
    text-align: right;
    margin-bottom: 50px;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    margin-top: 15px;
}

.contacts__number {
    font-family: Open Sans;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    top: 50px;
}

.contacts__workhours {
    font-size: 13px;
    text-decoration: underline;
    line-height: 20px;
    top: 30px;
    right: 2px;
    font-style: normal;
    text-align: right;
}


.adress {
    font-style: normal;
}