.dropdown {
    position: relative;
    display: flex;
}

.dropdown:hover .contacts__workhours {
    color: #FFFFFF;
}

.dropdown:hover .dropdown__menu {
    left: 33px;
    opacity: 0.8;
}

.dropdown__menu {
    position: absolute;
    color: #1E1F20;
    background: #EDEDED;
    border-radius: 5px;
    padding: 10px 18px;
    width: 158px;
    height: 66px;
    font-size: 13px;
    font-weight: 600;
    line-height: 21px;
    text-align: left;
    opacity: 0;
    top: calc(100% + 5px);
    right: 0;
    left: -9999px;
    transition: opacity .5s;
}

.dropdown__menu:before {
    content: "";
    height: 30px;
    left: 0;
    right: 0;
    top: -29px;
    position: absolute;
}

.dropdown__menu:after {
    background: #EDEDED;
    content: "" ;
    transform: rotate(45deg);
    position: absolute;
    border: 10px solid transparent;
    width: 10px;
    height: 0;
    border-bottom-color: #EDEDED;
    border-right-width: 0px;
    top: -5px;
    right: 44px;
}