.footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__col {
    display: flex;
    align-items: center;
}

.footer__col--align-right {
    justify-content: flex-end;
}

.footer-main_container {
    padding-top: 45px;
    padding-bottom: 36px;
    border-top: 1px solid;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-container__content {
    margin-top: 63px;
}

.footer-main__wrap {
    position: relative;
}