.footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__col {
    display: flex;
    align-items: center;
}

.footer__col--align-right {
    justify-content: flex-end;
}

.footer-main_container {
    padding-top: 108px;
    padding-bottom: 36px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.inner-footer__container {
    border-top: 0;
    padding-top: 112px;
}

.inner-footer {
    margin-top: auto;
}

.footer-main__wrap {
    position: relative;
}