.inner-section {
    background: #fff;
    color: #1A1B1E;
    padding: 70px 0 125px 0;
}

.inner-footer__container {
    padding-top: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 39px;
}

.inner-section--bg--grey {
    background: #F4F5F5;
}

.inner-section-form {
    padding: 51px 0 105px 0;
}

.inner-section__title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 62px;
}