.ivent {
    width: 637px;
    height: 194px;
    margin-bottom: 0px;
}

.ivent__title {
    position: relative;
    bottom: 24px;
    box-sizing: border-box;
    font-family: Open Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0px;
    text-align: left;
}

.ivent__subtitle {
    margin-top: -45px;
    position: relative;
    font-size: 21px;
    margin-bottom: 75px;
    
}

.ivent__btn {
    margin-bottom: 500px;
    height: 55px;
    width: 168px;

}