.last-games__title-wrap {
    margin-bottom: 46px;
}

.last-games__main-title {
    font-size: 36px;
}

.last-game__list {
    margin-bottom: 53px;
    display: flex;
    justify-content: space-between;
}

.last-game__item {
    position: relative;
    vertical-align: top;
    border-radius: 5px;
    overflow: hidden;
    flex: 1;
    margin-right: 2%;
}

.last-game__item:last-child {
    margin-right: 0;
}

.last-game__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.last-game__content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 29px;
    min-height: 140px;
}

.last-game__date {
    font-size: 14px;
    margin-bottom: 18px;
}

.last-game__title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 4px;
}