.navmenu {
    display: flex;
}

.navmenu__list {
    display: flex;
}

.navmenu__item {
    margin-right: 67px;
}

.navmenu__link {
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    transition: color .3s;
}

.navmenu__link:hover {
    color: #8F00FF;
}

.navmenu-footer {
    margin-left: 131px;
    padding-bottom: 5px;
}