.new-games {
    margin-bottom: 124px;
}

.new-games__title-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.new-games__title {
    display: inline-block;
    font-size: 36px;
    line-height: 49px;
    font-weight: bold;
}

.new-games__list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.new-games__icon {
    width: 42px;
    margin-left: 5px;
}

.new-games__item {
    min-height: 450px;
    width: calc(100% / 3 - 17px);
    border-radius: 5px;
    overflow: hidden;
    background: #fff;
    display: flex;
    flex-direction: column;
}

.new-games__item:last-child {
    margin-right: 0px;
}

.game__content {
    padding: 34px 5px 26px 20px;
    background: #fff;
    border-radius: 0px 0px 5px 5px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
}

.game__image-wrap {
    height: 144px;
    border-radius: 5px;
    display: flex;
}

.game__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.games__title {
    color: #000;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 19px;
    width: 71%;
}

.game__features {
    padding-left: 7px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
}

.game__feature-text {
    color: #666666;
}

.game__icon-box {
    margin-right: 7px;
    width: 26px;
    height: 26px;
}

.game__feature {
    margin-right: 41px;
    display: flex;
    align-items: center;
}


.game__desc {
    color: #303030;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 23px;
    display: flex;
}

.game__btn {
    padding: 18px 32px;
    margin-top: auto;
}