.paginator {
    text-align: center;
}

.paginator__page, .paginator__list {
    display: inline-block;
    vertical-align: middle;
}

.paginator__page {
    margin-right: 26px;
}

.paginnator__item {
    display: inline-block;
    vertical-align: middle;
}


.paginnator__item--active .paginnator__link {
    background: #8F00FF;
}   

.paginnator__link {
    line-height: 32px;
    display: block;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    text-decoration: none;
    position: relative;
    font-weight: bold;
}