.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.paginator__page {
    margin-right: 26px;
}

.paginator__list {
    display: flex;
    align-items: center;
}

.paginnator__item {
    text-align: center;
}

.paginnator__item--active .paginnator__link {
    background: #8F00FF;
}   

.paginnator__link {
    line-height: 32px;
    display: block;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    text-decoration: none;
    position: relative;
    font-weight: bold;
}