.rewiews {
    column-count: 2;
    column-gap: 30px;
    margin-bottom: 70px;
}

.rewiews__item {
    margin-bottom: 20px;
}

.rewiew {
    display: inline-flex;
    flex-direction: column;
    padding: 50px 30px;
    background: #F4F5F5;
}

.rewiew__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.rewiew__user {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #2E77A4;
    margin-bottom: 11px;
}

.rewiew__user:after {
    content: url("../img/rewiews/user-vk.png");
    height: 30px;
}

.avatar {
    width: 140px;
    height: 140px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
}

.rewiew__tags {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 5px;
}

.tag {
    font-size: 13px;
    color: #303030;
    padding: 8px 16px;
    border-radius: 50px;
    background: #E7E7E7;
}

.tag--bg--green {
    background: #B9EAE4;
}

.review__title {
    font-size: 30px;
    color: #1A1B1E;
    font-weight: bold;
    margin-bottom: 23px;
}

.rewiew__content-text {
    margin-bottom: 50px;
}

.rewiew__date {
    font-size: 14px;
    color: #1A1B1E;
    font-weight: bold;
}