.services {
    margin-bottom: 13px;
}

.service {
    display: flex;
    text-decoration: none;
}

.services__item {
    display: flex;
    margin-bottom: 2.2%;
}

.service__img {
    width: 40.4%;
    margin-right: 4.8%;
}

.service__content {
    flex: 1;
    padding-top: 14px;
}

.services__title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 34px;
    font-size: 36px;
    line-height: 42px;
    text-align: left;
}

.service__desc {
    line-height: 1.7;
    margin-bottom: 34px;
    color: #000000;
}