.socials {
    display: flex;
    align-items: flex-end;
    margin-right: 64px;
}

.social__link {
    display: block;
    text-decoration: none;
    width: 36px;    
    height: 36px;
    margin-right: 10px;
    background: center center no-repeat;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__item--icon--telegram .social__link {
    width: 36px; height: 36px;
    background: url(../../img/socials/socials_sprite.png) -122px -10px;
}

.socials__item--icon--telegram .social__link:hover {
    width: 36px; height: 36px;
    background: url(../../img/socials/socials_sprite.png) -122px -66px;
}

.socials__item--icon--vk .social__link {
    width: 36px; height: 36px;
    background: url(../../img/socials/socials_sprite.png) -10px -122px;
}

.socials__item--icon--vk .social__link:hover {
    width: 36px; height: 36px;
    background: url(../../img/socials/socials_sprite.png) -66px -122px;
}

.socials__item--icon--f .social__link {
    width: 36px; height: 36px;
    background: url(../../img/socials/socials_sprite.png) -10px -10px;
}

.socials__item--icon--f .social__link:hover {
    width: 36px; height: 36px;
    background: url(../../img/socials/socials_sprite.png) -66px -10px;
}

.socials__item--icon--in .social__link {
    width: 36px; height: 36px;
    background: url(../../img/socials/socials_sprite.png) -10px -66px;
}

.socials__item--icon--in .social__link:hover {
    width: 36px; height: 36px;
    background: url(../../img/socials/socials_sprite.png) -66px -66px;
}