.socials {
    display: flex;
    align-items: flex-end;
    margin-right: 74px;
}

.social__link {
    display: block;
    text-decoration: none;
    width: 36px;    
    height: 36px;
    margin-right: 10px;
    background: center center no-repeat;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__item--icon--telegram .social__link {
    background-image: url(../../img/socials/telegram.png);
}

.socials__item--icon--telegram .social__link:hover {
    background-image: url(../../img/socials/telegram-hover.png);
}

.socials__item--icon--vk .social__link {
    background-image: url(../../img/socials/vk.png);
}

.socials__item--icon--vk .social__link:hover {
    background-image: url(../../img/socials/vk-hover.png);
}

.socials__item--icon--f .social__link {
    background-image: url(../../img/socials/f.png);
}

.socials__item--icon--f .social__link:hover {
    background-image: url(../../img/socials/f-hover.png);
}

.socials__item--icon--in .social__link {
    background-image: url(../../img/socials/in.png);
}

.socials__item--icon--in .social__link:hover {
    background-image: url(../../img/socials/in-hover.png);
}